@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply shadow-lg lg:px-10 py-8;
  min-height: 79.1vh;

  margin: auto;
}

.tabela {
  width: 1300px;

  @apply border-2 rounded-md lg:mx-auto mx-3 lg:p-4;
}

.fixo {
  @apply lg:border-r-0 border-r-2;
  position: sticky;
  margin-right: 10px;
}

.fixo2 {
  position: sticky;
  margin-right: 10px;
}

.posicao {
  @apply flex  items-center border-b-2 border-black justify-between;
}

.last {
  @apply flex text-white mr-1 items-center justify-center uppercase border-gray-500  w-5 rounded-lg p-1 border;
}

.down {
  transform: rotate(180deg);
  filter: hue-rotate(261deg) saturate(50);
}

.variacao_posicao {
  @apply mx-1;
  font-size: 13px;
}
thead {
  @apply border-b-4;
}

td,
th {
  @apply px-2 py-2;
}

td {
  @apply border-b;
}

td > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  @apply h-9;
}

.clube:nth-child(odd) {
  @apply lg:w-1/3 md:w-2/3 w-auto  lg:mr-5 md:mr-2 mx-0;
  animation: float 6s alternate infinite;
}

.clube:nth-child(even) {
  @apply lg:w-1/3 md:w-2/3 w-auto  lg:mr-5 md:mr-2 mx-0;
  animation: float 6s alternate-reverse infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.clube_container {
  min-width: 220px;
  @apply flex items-center  justify-center  py-5 mr-4 md:flex-row lg:flex-row  text-right;
}

.clube_container2 {
  @apply flex items-center justify-center  py-5 ml-4 md:flex-row lg:flex-row  text-left;
  min-width: 220px;
}

.container_Chave {
  @apply flex items-center justify-center flex-col w-full py-8 gap-5 border-b-2 lg:border-b-0 lg:border-r-2 lg:w-1/2;
}

.container_Chave2 {
  @apply flex items-center justify-center flex-col w-full py-8 gap-5  lg:w-1/2;
}

.container_confronto {
  @apply flex justify-around     items-center px-5;
}

.placar {
  @apply flex ml-4 mr-12;
  height: 32px;
  width: 24px;
}

.x {
  @apply lg:mx-2 mx-0;
}
